.preloader,
body,
html {
  height: 100%;
}
a,
abbr,
acronym,
address,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.2;
  font-family: Nunito, sans-serif;
}
ol,
ul {
  padding-left: 0;
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
:root {
  --page-bg: #ffebcc;
  --main-orange: #af6017;
  --text-orange: #ee940a;
  --light-orange: #ffba50;
  --light-orange-2: #ffb13a;
  --text-secondary: #462914;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 9999;
}
.bar {
  flex: 1;
  background-color: var(--light-orange);
  transform: translateY(0);
}
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--page-bg);
}
.banner,
.banner__mid {
  display: flex;
  flex-direction: column;
}
.banner {
  width: 1200px;
  height: 628px;
  background-color: var(--main-orange);
  justify-content: space-between;
  padding: 36px;
  color: var(--text-orange);
  position: relative;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 1s, transform 1s;
}
.banner__fpv-wrap {
  position: absolute;
  top: 50px;
  right: 20px;
}

.banner__fpv-wrap svg {
  width: 762px;
  height: 402px;
}

.banner__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}
.banner__main-title {
  font-size: 4rem;
  max-width: 800px;
  line-height: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 0;
  align-items: center;
  opacity: 0;
  transform: translateY(40px);
  animation: 1s ease-out 0.3s forwards fadeUp;
}
.banner__main-title::after {
  content: "";
  display: block;
  height: 6px;
  width: 100px;
  background: var(--text-orange);
  margin-top: 8px;
  border-radius: 4px;
  transform-origin: left;
  transform: scaleX(0.7);
  animation: 1s ease-in-out infinite alternate pulseLine;
}
.banner__main-title-sp {
  padding: 6px 6px 2px;
  border-radius: 6px;
  border: 6px solid var(--text-orange);
  display: flex;
  box-sizing: border-box;
}
.banner__bottom,
.banner__btn {
  padding: 16px 20px;
  border-radius: 20px;
  color: var(--text-secondary);
  opacity: 0;
  transform: translateY(40px);
  transition: 0.3s;
}
.banner__logo {
  width: 172px;
  height: 172px;
  animation: 3s linear infinite rotateLogo;
  position: relative;
}
.banner__logo::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 212px;
  height: 212px;
  background: radial-gradient(
    circle,
    rgba(238, 148, 10, 0.4) 0,
    transparent 70%
  );
  border-radius: 50%;
  animation: 3s infinite pulseGlow;
}
.banner__mid {
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 24px;
}
.banner__undertitle {
  font-size: 3rem;
  max-width: 700px;
  display: block;
  opacity: 0;
  transform: translateY(40px);
  animation: 1s ease-out 0.5s forwards fadeUp;
}
.banner__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3.125rem;
  background-color: var(--light-orange);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  animation: 1s ease-out 0.7s forwards fadeUp;
}
.banner__bottom,
.banner__btn:hover {
  background-color: var(--light-orange-2);
}
.banner__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  animation: 1s ease-out 1s forwards fadeUp;
}

.banner__bottom-left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.banner__name {
  font-size: 2rem;
  line-height: 1;
}
.banner__role {
  font-size: 1.5rem;
}
.banner__num {
  font-size: 3rem;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: 2s steps(20) 1s forwards typing;
}
.drone {
  animation: 3s ease-in-out infinite droneMove;
}

.banner__main-title-sp-leaderboard {
  padding: 6px 6px 2px;
  border-radius: 6px;
  border: 2px solid var(--text-orange);
  display: flex;
  box-sizing: border-box;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes droneMove {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 0);
  }
  50% {
    transform: translate(10px, 10px);
  }
  75% {
    transform: translate(0, 10px);
  }
}
@keyframes rotateLogo {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulseLine {
  0% {
    transform: scaleX(0.7);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes pulseGlow {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
}
@keyframes pop {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
.animate-line {
  stroke-dasharray: var(--len);
  stroke-dashoffset: var(--len);
  animation: 1.3s ease-in-out infinite alternate both draw;
}
.l1 {
  --len: 69.23;
  animation-delay: 1.6s;
}
.l2 {
  --len: 59.47;
  animation-delay: 1.4s;
}
.l3 {
  --len: 50.56;
  animation-delay: 1.2s;
}
.l4 {
  --len: 35.67;
  animation-delay: 1s;
}
.l5 {
  --len: 39.51;
  animation-delay: 0.8s;
}
.l6 {
  --len: 48.2;
  animation-delay: 0.6s;
}
.l7 {
  --len: 102.3;
  animation-delay: 0.4s;
}
.l8 {
  --len: 83.57;
  animation-delay: 0.2s;
}

.neon-blue,
.neon-yellow {
  filter: drop-shadow(0 0 16px currentColor) drop-shadow(0 0 48px currentColor)
    drop-shadow(0 0 96px currentColor) drop-shadow(0 0 160px currentColor);
  animation: 1.3s ease-in-out infinite alternate neonPulse;
}
.neon-blue {
  color: #585dca;
}
.neon-yellow {
  color: #e0e035;
}

@keyframes neonPulse {
  0% {
    filter: drop-shadow(0 0 8px currentColor) drop-shadow(0 0 20px currentColor)
      drop-shadow(0 0 40px currentColor);
    opacity: 0.7;
  }
  100% {
    filter: drop-shadow(0 0 24px currentColor)
      drop-shadow(0 0 80px currentColor) drop-shadow(0 0 160px currentColor)
      drop-shadow(0 0 240px currentColor);
    opacity: 1;
  }
}

.banner-leader-board {
  width: 728px;
  height: 90px;
  background-color: var(--main-orange);
  display: grid;
  grid-template-columns: 6.3fr 3fr 6fr;
  padding: 12px;
  color: var(--text-orange);
  position: relative;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 1s, transform 1s;
}

.banner-leader-board-left {
}

.banner__main-title-leaderboard {
  font-size: 1.4rem;
  width: 100%;
  line-height: 0.8;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  row-gap: 0;
  align-items: center;
  opacity: 0;
  transform: translateY(40px);
  animation: 1s ease-out 0.3s forwards fadeUp;
}
.banner__main-title-leaderboard::after {
  content: "";
  display: block;
  height: 4px;
  width: 100px;
  background: var(--text-orange);
  margin-top: 0px;
  border-radius: 4px;
  transform-origin: left;
  transform: scaleX(0.7);
  animation: 1s ease-in-out infinite alternate pulseLine;
}

.banner__undertitle-leaderboard {
  margin-top: 8px;
}

.banner-leader-board-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drone-img-leader-board {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 66px;
  margin-top: -10px;
}

.banner-leader-board-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 8px;
  gap: 4px;
}
.banner__btn-leaderboard {
  padding: 4px 6px;
  border-radius: 4px;
  color: var(--text-secondary);
  opacity: 0;
  transform: translateY(40px);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  line-height: 0.75rem;
  background-color: var(--light-orange);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  animation: 1s ease-out 0.7s forwards fadeUp;
}

.banner__bottom-leaderboard {
  padding: 4px 6px;
  border-radius: 4px;
  color: var(--text-secondary);
  opacity: 0;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  animation: 1s ease-out 1s forwards fadeUp;
  width: 100%;
}

.banner__btn-leaderboard:hover,
.banner__bottom-leaderboard {
  background-color: var(--light-orange-2);
}

.banner__name-leaderboard {
  font-size: 0.75rem;
  line-height: 1;
}

.banner__role-leaderboard {
  font-size: 0.75rem;
}

.banner__num-leaderboard {
  font-size: 0.75rem;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: 2s steps(20) 1s forwards typing;
}
.banner-leader-board-right-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.banner__logo-leaderboard {
  width: 20px;
  height: 20px;
  animation: 3s linear infinite rotateLogo;
  position: relative;
}
.banner__logo-leaderboard::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  background: radial-gradient(
    circle,
    rgba(238, 148, 10, 0.4) 0,
    transparent 70%
  );
  border-radius: 50%;
  animation: 3s infinite pulseGlow;
}

.banner-half-page {
  width: 300px;
  height: 600px;
  background-color: var(--main-orange);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  color: var(--text-orange);
  position: relative;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 1s, transform 1s;
}

.banner__main-title-half-page {
  font-size: 3rem;
  line-height: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 0;
  align-items: center;
  opacity: 0;
  transform: translateY(40px);
  animation: 1s ease-out 0.3s forwards fadeUp;
}
.banner__main-title-half-page::after {
  content: "";
  display: block;
  height: 6px;
  width: 100px;
  background: var(--text-orange);
  margin-top: 8px;
  border-radius: 4px;
  transform-origin: left;
  transform: scaleX(0.7);
  animation: 1s ease-in-out infinite alternate pulseLine;
}
.banner__main-title-sp-half-page {
  padding: 6px 6px 2px;
  border-radius: 6px;
  border: 6px solid var(--text-orange);
  display: flex;
  box-sizing: border-box;
}
.banner__logo-half-page {
  width: 60px;
  height: 60px;
  animation: 3s linear infinite rotateLogo;
  position: absolute;
  top: 70px;
  right: 12px;
}
.banner__logo-half-page::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 212px;
  height: 212px;
  background: radial-gradient(
    circle,
    rgba(238, 148, 10, 0.4) 0,
    transparent 70%
  );
  border-radius: 50%;
  animation: 3s infinite pulseGlow;
}

.banner__undertitle-half-page {
  font-size: 1.5rem;
  max-width: 700px;
  display: block;
  opacity: 0;
  transform: translateY(40px);
  animation: 1s ease-out 0.5s forwards fadeUp;
}

.drone-img-half-page {
  width: 100%;
  object-fit: contain;
  margin-bottom: 30px;
}

.banner__btn-half-page {
  padding: 12px 16px;
  border-radius: 4px;
  color: var(--text-secondary);
  opacity: 0;
  transform: translateY(40px);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  background-color: var(--light-orange);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  animation: 1s ease-out 0.7s forwards fadeUp;
}

.banner__bottom-half-page {
  padding: 4px 6px;
  border-radius: 4px;
  color: var(--text-secondary);
  opacity: 0;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2px;
  animation: 1s ease-out 1s forwards fadeUp;
  width: 100%;
  margin-bottom: 8px;
}

.banner__btn-half-page:hover,
.banner__bottom-half-page {
  background-color: var(--light-orange-2);
}

.banner__num-half-page {
  font-size: 1.85rem;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: 2s steps(20) 1s forwards typing;
}

.banner__name-half-page {
  font-size: 1.2rem;
  line-height: 1;
}

.banner-large-mobile {
  width: 320px;
  height: 100px;
  background-color: var(--main-orange);
  display: grid;
  grid-template-rows: 3fr 1fr;
  padding: 5px;
  color: var(--text-orange);
  position: relative;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 1s, transform 1s;
}

.banner-large-mobile-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: flex-start;
}

.banner__main-title-large-mobile {
  font-size: 0.875rem;
  width: 100%;
  line-height: 0.8;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  row-gap: 0;
  align-items: center;
  opacity: 0;
  transform: translateY(40px);
  animation: 1s ease-out 0.3s forwards fadeUp;
  margin-bottom: 4px;
}

.banner__main-title-sp-large-mobile {
  padding: 4px;
  border-radius: 6px;
  border: 2px solid var(--text-orange);
  display: flex;
  box-sizing: border-box;
}

.banner__undertitle-large-mobile {
  font-size: 0.725rem;
  max-width: 700px;
  display: block;
  opacity: 0;
  transform: translateY(40px);
  animation: 1s ease-out 0.5s forwards fadeUp;
}

.banner-large-mobile-top-right {
  padding-top: 12px;
  padding-right: 12px;
  max-height: 44px;
  box-sizing: border-box;
}

.drone-img-large-mobile {
  width: 100%;
  object-fit: contain;
  z-index: 10;
  position: relative;
  max-height: 40px;
}

.banner-large-mobile-bottom {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4px;
  align-items: flex-end;
}

.banner__name-large-mobile {
  font-size: 0.75rem;
  line-height: 1;
  white-space: nowrap;
}

.banner__role-large-mobile {
  font-size: 0.75rem;
}

.banner__num-large-mobile {
  font-size: 0.75rem;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: 2s steps(20) 1s forwards typing;
}
.banner-large-mobile-bottom-left .banner__bottom-leaderboard {
  flex-direction: column;
  align-items: flex-start;
  padding: 4px;
}

.banner-large-mobile-bottom-left .banner__bottom-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.banner-large-mobile-bottom-left .banner__num-large-mobile {
  text-align: right;
}

.banner__logo-large-mobile {
  width: 20px;
  height: 20px;
  animation: 3s linear infinite rotateLogo;
  position: absolute;
  top: 4px;
  right: 4px;
}
.banner__logo-large-mobile::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  background: radial-gradient(
    circle,
    rgba(238, 148, 10, 0.4) 0,
    transparent 70%
  );
  border-radius: 50%;
  animation: 3s infinite pulseGlow;
}

@media (max-width: 1200px) {
  .banner {
    width: 100%;
    height: 480px;
  }
  .banner__main-title {
    font-size: 3rem;
    max-width: 600px;
  }
  .banner__undertitle {
    font-size: 2rem;
    max-width: 500px;
  }
  .banner__btn {
    font-size: 2.125rem;
  }
  .banner__num {
    font-size: 2rem;
  }
  .banner__name {
    font-size: 1.5rem;
  }
  .banner__role {
    font-size: 1rem;
  }
  .banner__fpv-wrap svg {
    width: 600px;
    height: 300px;
  }
  .banner__fpv-wrap {
    top: 50%;
    right: 76px;
    transform: translateY(-64%);
  }
  .banner__logo {
    width: 125px;
    height: 125px;
  }
}

@media (max-width: 1024px) {
  .banner__fpv-wrap {
    right: 16px;
  }
}

@media (max-width: 850px) {
  .banner__fpv-wrap {
    width: 40%;
    right: 30px;
  }
  .banner__fpv-wrap svg {
    width: 100%;
    height: auto;
  }
  .banner__logo {
    width: 75px;
    height: 75px;
  }
  .banner__main-title {
    font-size: 2rem;
    max-width: 50%;
  }
  .banner__undertitle {
    font-size: 1.5rem;
    max-width: 50%;
  }
  .banner__btn {
    font-size: 1.125rem;
  }
  .banner__bottom,
  .banner__btn {
    padding: 12px 16px;
    border-radius: 10px;
  }
  .banner__num {
    font-size: 1.5rem;
  }
  .banner__name {
    font-size: 1.125rem;
  }
  .banner__role {
    font-size: 0.875rem;
  }
  .banner {
    height: 370px;
  }
}

@media (max-width: 650px) {
  .banner__main-title {
    font-size: 2rem;
    max-width: 70%;
  }
  .banner__undertitle {
    font-size: 1.5rem;
    max-width: 70%;
  }
  .banner__num {
    font-size: 1.1rem;
  }
  .banner__name {
    font-size: 1rem;
  }
  .banner {
    padding: 16px;
  }
  .banner__fpv-wrap {
    right: 20px;
    top: 60%;
  }
}

@media (max-width: 425px) {
  .banner__bottom {
    gap: 10px;
  }
  .banner__main-title {
    font-size: 1.25rem;
  }
  .banner__undertitle {
    font-size: 1.25rem;
  }
  .banner {
    height: auto;
  }
}

.shimmer-text {
  animation: 6s linear infinite colorFlow;
  opacity: 1;
  transform: translate(0);
}
@keyframes colorFlow {
  0%,
  100% {
    color: #ee940a;
  }
  25%,
  75% {
    color: #ffba50;
  }
  50% {
    color: #fff;
  }
}
